.start {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 88%;
    overflow: hidden;
    min-height: 640px;
    background-image: url("../Imagenes/start/pollomobile.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgba(231, 250, 254, 1);
}

.leftstart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 48%;
    background-color: rgba(231, 250, 254, 1);
    padding: 50px;
    position: relative;

}

.firstbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    height: 45px;
    padding: 18px;
    border: 0px solid black;
    border-radius: 25px;
    font-weight: 600;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}

.firstbtn img {
    width: 24px;
    height: 24px;
}

.firstbtn p {
    color: black;
    font-size: 1rem;
    text-align: center;
}

h1 {
    width: auto;
    font-size: 4rem;
}

.subH {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.labels {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.secondbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: auto;
    padding: 8px 16px 8px 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.startFooter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.badge {
    width: 150px;
    height: 150px;
    position: absolute;
    right: -14%;
    top: 50px;
}

.mobileStart {
    display: none;
}

.mobileDetails {
    display: flex;
    margin-left: 8px;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;
    pointer-events: none;
}

.mobileDetails span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: auto;
    height: 40px;
    text-align: start;
}

.mobileIcons {
    width: 1.6rem;
    height: auto;
}


.categories {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
}

.topCateg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

.topCateg button {
    width: auto;
    padding: 20px 27px 20px 27px;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    background-color: rgba(231, 250, 254, 1);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.topCateg button:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}

.footerCateg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    width: 100%;
}

.footerCateg :hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}


.footerCateg span {
    display: flex;
    justify-content: center;
    min-width: 180px;
    min-height: 152px;
    margin-top: 80px;
    padding: 100px 50px 30px 50px;
    position: relative;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    font-weight: 600;
    color: black;
    font-size: 1.125rem;
    transition: ease-in-out 0.5s;

}

.footerCateg p {
    pointer-events: none;
}

.categoriesPhoto {
    width: 55%;
    height: 65%;
    position: absolute;
    left: 22.22%;
    top: -26%;
    box-shadow: 10px;
    pointer-events: none;
}

.shadow {
    opacity: 20%;
    filter: blur(10px);
    width: 55%;
    height: 65%;
    position: absolute;
    left: 24%;
    top: -22%;
}

.breakfast {
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}

.vegan {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}

.meat {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}

.dessert {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}

.lunch {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.chocolate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}


.recipesSec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
    gap: 96px;
    margin-top: 183px;

}

.recipesTop {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

}

.recipesTop p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.recipesGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.recipesBox {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    width: auto;
    height: auto;
    gap: 24px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    padding: 16px 16px 32px 16px;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    transition: ease-in-out 0.5s;
}

.recipesGrid :hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}

.gridPhoto {
    width: 100%;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    pointer-events: none;
}

.saves {
    position: absolute;
    width: 12%;
    height: auto;
    right: 8.5%;
    top: 8%;
    transform: none;
}

.recipesBox a {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8px;
}

.recipesBox a:hover {
    transform: none;
    box-shadow: none
}

.recipesDetails {
    display: flex;
    margin-left: 8px;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;
    pointer-events: none;
}

.recipesDetails span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: auto;
    height: 40px;
    text-align: start;
}

.recipesIcons {
    width: 1.6rem;
    height: auto;
}

.recipesDetails p {
    font-size: 0.875rem;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);

}

.ad {
    max-width: 400px;
    width: auto;
    height: auto;
    pointer-events: none;
}


.learnMore {
    display: flex;
    justify-content: center;
    margin-top: 142px;
}

.learnMoreLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 55px;
    padding-top: 150px;
}

h4 {
    font-size: 3rem;
    font-weight: 600;
}

.learnMoreLeft .btn {
    max-width: 200px;
}

.learnMoreRight {
    max-width: 710px;
}


.postSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 142px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);

}

.posts {
    display: flex;
    max-width: 1350px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
}

.topPosts {
    width: 75%;
    align-content: center;
    align-items: center;
}

h5 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.topPosts p {
    text-align: center;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 400;

}

.postFlex {
    display: flex;
    width: 95%;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.postFlex :hover {
    transform: scale(1.125);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.041);
}

.postBox {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    max-height: 445.44px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    transition: ease-in-out 0.6s;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    height: 9.375%;
    width: 100%;
    padding-left: 7.73px;
    padding-top: 8.51px;
    padding-bottom: 8.51px;
    padding-right: 11.6px;
    pointer-events: none;
}

.postHeaderLeft {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 5px;
}

.postFoodie {
    /* Valores en % */
    width: 24.75px;
    height: 24.75px;
    border-radius: 100%;
}

.postHeaderLeft span {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.postAuthor {
    font-size: 0.628rem;
    font-weight: 600;
}

.verifed {
    /* Valores en % */
    width: 7.65px;
    height: 7.58px;
}

.postLocation {
    font-size: 0.532rem;
    font-weight: 400;
}

.moreIcon {
    /* Valores en % */
    width: 13px;
    height: 5px;
    margin-top: 11.21px;
}


.postImg {
    width: 100%;
    height: auto;
    overflow: hidden;
    pointer-events: none;
}

.photoNum {
    position: absolute;
    top: 12.5%;
    right: 4%;
    pointer-events: none;
}

.postFoot {
    display: flex;
    flex-direction: column;
    height: 25.52%;
    width: 100%;
    padding-left: 10.83px;
    padding-right: 9.81px;
    gap: 8px;
    pointer-events: none;
}

.interaction {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;
    position: relative;
}

.pagination {
    position: absolute;
    top: 45%;
    left: 45%;
}

.likes {
    display: flex;
    gap: 5px;
    align-items: center;
}

.likes img {
    /* Valores en % */
    width: 13.15px;
    height: 13.15px;
    border-radius: 100%;
}

.likes p {
    font-size: 0.628rem;
    font-weight: 400;
}

.caption {
    font-size: 0.628rem;
    font-weight: 400;
}

.postDate {
    font-size: 0.532rem;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
}


.hidden {
    display: none;
}

@media (max-width: 1024px) {

    .hidden {
        display: flex;
    }

    .hiddenMobile {
        display: none;
    }

    .startsection {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .firstbtn {
        gap: 10px;
        max-width: 45%;
        max-width: 200px;
        border-radius: 20px;
        padding: 8px 16px;
        background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(61, 70, 41, 0.1) 100%);
        margin: 0 auto;
        margin-top: 30px;

    }

    .firstbtn img {
        width: 16%;
        height: auto;
    }

    .firstbtn p {
        font-size: 1rem;
        color: black;
    }

    .mobileStart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: auto;
        gap: 15px;
        background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
        padding: 16px 16px 32px 16px;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 30px;
    }

    .startImgDiv {
        position: relative;
        height: auto;
        width: 100%;
    }

    .mobileStartImg {
        width: 100%;
        height: auto;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .mobileBadge {
        width: 27.5%;
        max-width: 100px;
        height: auto;
        bottom: -2%;
        right: -1%;
        position: absolute;
    }

    h1 {
        font-size: 2rem;
        font-weight: 800;
        height: auto;
    }

    .startContext {
        font-size: 0.8rem;
        color: rgb(105, 105, 105);

    }

    .mobileStart .recipesDetails span {
        font-size: 1rem;
    }

    .startFooter {
        justify-content: space-between;
    }

    .author {
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    .author img {
        width: 25%;
        max-width: 65px;
        height: auto;
    }


    .authorName {
        font-size: 1rem;
        gap: 2px
    }

    .startFooter .btn {
        height: auto;
        font-size: 0.75rem;
        border: 0px solid;
        padding: 16px 1.5rem;
        min-width: auto;
    }


    .topCateg {
        justify-content: center;
        flex-direction: column;
    }

    .topCateg button {
        margin-top: 42px;
    }


    .recipesSec {
        width: 90%;
    }

    .ad {
        width: 100%;
    }

    .recipesBox p {
        font-size: 1.5rem;

    }


    .learnSection {
        margin-top: 100px;
    }

    .learnMore {
        width: 90%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    h4 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .learnMore br {
        display: none;
    }

    .learnMoreLeft {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .learnMoreLeft .btn {
        display: none;
    }


    .learnMoreRight {
        width: 100%;
    }

    .learnMore .btn {
        margin-top: 40px;
    }


    .postSection {
        margin-top: 100px;
    }

    .posts {
        width: 85%;
    }

    .topPosts {
        text-align: center;
    }

    h5 {
        font-size: 2.4rem;
    }

    .topPosts p {
        font-size: 0.9rem;
    }
}