.headerSection {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 53px;
    width: 80%;
}

h1 {
    font-size: 4rem;
}

.author {
    align-items: center;
    align-content: center;
    width: 26.63%;
    min-width: 165px;
    gap: 10px;
    text-align: start;
}

.name {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.date {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);


}

.details {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    align-content: center;
}

.detailsRight {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-left: 17%;
}

.detail {
    display: flex;
    min-width: 113px;
    gap: 8px;
    align-items: center;
    align-content: center;
}

.dividers {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.timeType {
    font-size: 0.75rem;
    font-weight: 500;

}

.time {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);

}

.foodType {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);

}

.icons {
    width: 21.24%;
    height: auto;
}

.options {
    width: 15%;
    display: flex;
    gap: 32px;
    align-items: center;
    align-content: center;
    align-self: center;

}

.optionsBtn {
    background-color: transparent;
    border: none;
}

.optionsBtn img {
    width: 80px;
    height: auto;
}

.optionsBtn span p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.optionsBtn span {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h6 {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}

.recipesGrid {
    margin-top: 100px;
}